@font-face {
    font-family: roya;
    src: url(B%20Roya_0.ttf)
}

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

#map {
    height: 100%;
    margin: 0;
    padding: 0;
}

#opacity {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-color: transparent;
    transition: 0.5s;
}

.sidenav {
    height: 100%; /* 100% Full-height */
    /*width: 0;  0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 2; /* Stay on top */
    top: 0;
    background-color: #FFFFFF; /* rgb: 242 242 242 */
    overflow-x: hidden; /*Disable horizontal scroll */
    padding-top: 20px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    white-space: nowrap;
    /*box-shadow: -5px 0 10px #666666;*/
}

#menu {
    right: -198px;
    width: 198px;
    border-left: solid 2px rgb(225, 225, 225);
    box-shadow: none;
    z-index: 3;
}

/* The navigation menu links */
#menu a {
    text-decoration: none;
    /*font-size: 25px;*/
    color: #818181;
    display: block;
    transition: color 0.3s, background-color 0.4s;
    cursor: pointer;

}

/* When you mouse over the navigation links, change their color */
#menu a:hover {
    color: #000000
}

#closebtndiv {
    border-bottom: solid #e1e1e1 2px;
}

/* Position and style the close button (top right corner) */
#closebtn {
    margin-right: 20px;
    font-size: 4em;
    /*border: none;*/
}

#links {
    position: absolute;
    right: 7px;
    bottom: 30px;
}

#links a {
    display: inline;
    margin: 4px;
}

#links img {
    display: inline;
}

#menudiv a {
    border-bottom: solid #e1e1e1 1px;
    padding-right: 20px;
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 20px;

    /*border-top: solid transparent 3px;*/

}

#reserve_div {
    right: -600px;
    width: 600px;
    padding-top: 100px;
}

#proposals_div {
    right: -600px;
    width: 600px;
}

#help_div {
    right: -600px;
    width: 600px;
}

.form_part {
    margin-right: 55px;
}

#select_place_div {
    margin-bottom: 30px;
}

#select_place_div h2 {
    width: 40%;
    float: right;
    margin-top: 25px;
}

#select_place_div img {
    display: inline;
    width: 90px;
    cursor: pointer;
}

#place_images {
    width: 54%;
    float: right;
}

#location_image {
    width: 18%;
    float: right;
}

#location_image img {
    width: 90px;
    cursor: pointer;
}

#select_location_div h2 {
    float: right;
    width: 40%;
    margin-top: 22px;
}

#buttons {
    float: right;
    width: 32%;
    /*margin-top: 15px;*/
}

.menu_button {
    font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
    font-size: 16px;
    line-height: 38px;
    padding: 0;
    background-color: transparent;
    border-radius: 50%;
    border: solid 1px #7b7b7b;
    cursor: pointer;
    display: none;
    width: 48%;
    height: 81px;
    outline: none;
}

.menu_button:active {
    background-color: #8CCEF2;
}

#cancel_button {
    margin-left: 7px;
}

#select_time_div {

}

.ADMdtp-calendar-container {
    font-family: roya;
    background-color: rgb(109, 207, 246) !important;
    border-radius: 15px !important;
}

.ADMdtp-container .ADMdtp-calendar-container .days > span > span {
    color: #ffffff;
}

.ADMdtp-container .ADMdtp-calendar-container .daysNames > span {
    color: #000000;
}

.ADMdtp-container .ADMdtp-calendar-container .days > span > span.selected, .ADMdtp-container .ADMdtp-calendar-container .monthPickerContainer .monthContainer .days > span > span:hover {
    background: #ffffff;
}

.time_div {
    width: 40%;
    float: right;
    margin: 0 1%;
}

#time_schedule_div {
    float: right;
    width: 6%;
    margin: 0 1%;
    padding-top: 66px;
}

.time-picker {
    white-space: normal;

}

.time-picker * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.dropdown-menu {
    position: absolute;
    right: 123px;
    background-color: #6DCFF6;
    width: 389px;
    border-radius: 10px;
    padding: 5px 20px;
    display: none;
    z-index: 4;

}

.day_item {
    margin: 10px 0;
    font-size: 18px;

}

.day_item input[type=text] {
    float: right;
    margin: 0 20px;
    background-color: transparent;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    width: 93px;
    text-align: center;
}

.checkbox-inline {
    float: right;
    width: 30%;

}

.checkbox-inline input[type=checkbox] {
    width: 15px;
    height: 15px;
}

.time_picker {
    float: right;

}

.dash {
    float: right;
    margin: 0;
    height: 20px;

}

.dropdown-toggle {
    width: 100%;
    height: 36px;
}

#title_div {
    margin-top: 20px;
}

#title_div h2 {
    float: right;
    margin-left: 5%;
}

#title_text {
    position: absolute;
    float: right;
    margin-top: 20px;
    font-size: 20px;
    width: 69%;
}

#lang_div {
    font-size: 20px;
    margin-left: 33px;
    margin-top: 18px;
    display: none;

}

#lang_div a {
    text-decoration: none;
    color: #009cde;
}

#description_text {
    width: 89%;
    height: 200px;
}

.facility_item {
    float: right;
    width: 20%;
    margin: 10px;
}

#aboutus_div {
    right: -400px;
    width: 400px;
}

.delete-menu {
    position: absolute;
    background: white;
    padding: 3px;
    color: #666;
    font-weight: bold;
    border: 1px solid #999;
    font-family: sans-serif;
    font-size: 12px;
    box-shadow: 1px 3px 3px rgba(0, 0, 0, .3);
    margin-top: -10px;
    margin-left: 10px;
    cursor: pointer;
}

.delete-menu:hover {
    background: #eee;
}

#triangle-right {
    z-index: 3;
    position: absolute;
    right: 170px;
    top: 0;
    /* top: 94px or 163px */
    width: 0;
    height: 0;
    border-bottom: 36px solid transparent;
    border-top: 36px solid transparent;
    border-left: 30px solid rgb(225, 225, 225);
    display: none;
    transition: 0.5s;

}

#triangle-right:after {
    z-index: 3;
    content: '';
    position: absolute;
    top: -33px;
    left: -30px;
    width: 0;
    height: 0;
    border-bottom: 33px solid transparent;
    border-top: 33px solid transparent;
    border-left: 28px solid #FFFFFF;
}

#event_div {
    right: -700px;
    width: 700px;
}

#event_closebtn {
    font-size: 4em;
    text-decoration: none;
    margin-right: 20px;
    color: #818181;
    display: block;
    transition: color 0.3s, background-color 0.4s;
    cursor: pointer;
}

#event_title {
    margin-right: 7%;
}

#event_time {
    margin-right: 7%;
}

#event_schedule {
    margin-right: 7%;
}

#event_description {
    width: 600px;
    height: 210px;
    overflow-y: auto;
    white-space: normal;
    margin: 0 7% 0 0;
}

.error {
    border: 1px solid red;
}