{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/user_main_page.css' %}">
    <script src="{% static 'js/user_main_page.js' %}"></script>
</head>
<body>
<div id="menu" class="sidenav" dir="rtl" onclick="menu.closeSubMenu()">
    <div id="closebtndiv">
        <a href="javascript:void(0)" id="closebtn" onclick="menu.closeButton(event)"><b>&times;</b></a>
    </div>
    <div id="menudiv">
        <a id="reserve_link" onclick="menu.openReserveMenu(event)">Reserve</a>
        <a id="aboutus_link" onclick="menu.openAboutusMenu(event)">About us</a>
        <a href="{% url 'userman:logout' %}">Logout</a>
    </div>
    <div id="links">
        <a href="#"><img src="{% static 'icons/menu/youtube.png' %}" width="25px"/></a>
        <a href="#"><img src="{% static 'icons/menu/twitter.png' %}" width="25px"/></a>
        <a href="#"><img src="{% static 'icons/menu/linkedin.png' %}" width="25px"/></a>
        <a href="#"><img src="{% static 'icons/menu/instagram.png' %}" width="25px"/></a>
        <a href="#"><img src="{% static 'icons/menu/facebook.png' %}" width="25px"/></a>
    </div>
</div>
<div class="sidenav" id="reserve_div" dir="rtl">
    <form>
        <div id="select_place_div" class="form_part">
            <h2>Place</h2>

            <div id="place_images">
                <img name='container_gallery' src="{% static 'icons/menu/container_gallery.png' %}"
                     onclick="menu.selectPlace(this)"/>
                <img name='mobile_media_unit' src="{% static 'icons/menu/mobile_media_unit.png' %}"
                     onclick="menu.selectPlace(this)"/>
                <img name='smart_furniture' src="{% static 'icons/menu/smart_furniture.png' %}"
                     onclick="menu.selectPlace(this)"/>
            </div>
            <input type="hidden" name="place_type" id="place_type_input"/>
            <br style="clear: both"/>
        </div>
        <div id="select_location_div" class="form_part">
            <h2>Location</h2>

            <div id="location_image">
                <img src="{% static 'icons/menu/location.png' %}" onclick="showReserveUI()" id="location_img"/>
            </div>
            <div id="buttons">
                <button id="cancel_button" class="menu_button" onclick="cancelButton(event)">Cancel</button>
                <button id="done_button" class="menu_button" onclick="doneButton(event)">Done</button>
            </div>
            <input type="hidden" name="locations" id="locations_input"/>
            <br style="clear: both"/>
        </div>
        <div id="select_time_div" class="form_part">
            <h2>Time</h2>
        </div>
        <div id="title_div" class="form_part">
            <h2>Title</h2>
        </div>
        <div id="description_div" class="form_part">
            <h2>Description</h2>
        </div>
        <div id="select_facilities" class="form_part">
            <h2>Facilities</h2>
        </div>
    </form>
</div>
<div class="sidenav" id="aboutus_div" dir="rtl">

</div>

<div id="map"></div>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCUdhNRJM-BAnT4hSvg-JHuK5vaKUzQ75Q&callback=initMap&language=fa&v=3"></script>
</body>
</html>