{% extends 'user_super_page.html' %}
{% load static %}
{% block title %}
    <title>Reserve</title>
{% endblock %}
{% block css_and_js %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="http://formvalidation.io/vendor/jquery.steps/css/jquery.steps.css">
    <script src="http://formvalidation.io/vendor/jquery.steps/js/jquery.steps.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/user_reserve.css' %}">
    <script src="{% static 'js/user_reserve.js' %}"></script>
{% endblock %}
{% block body %}
    <form id='reserve_form' action="{% url 'event:reserve' %}" method="post">
        {% csrf_token %}
        <div id="example-basic">
{#            <h3>Keyboard</h3>#}
{#            <section>#}
{#                {% for location_type in location_types %}#}
{#                    <div class="radio_button" style="display: block"#}
{#                         onclick="showMap('{{ location_type.backend_name }}')">#}
{#                        <label for="{{ location_type.backend_name }}">{{ location_type.frontend_name }}</label>#}
{#                        <input type="radio" name="location_type" id="{{ location_type.backend_name }}"#}
{#                               value="{{ location_types.backend_name }}"#}
{#                               style="display: inline"/>#}
{#                    </div>#}
{#                {% endfor %}#}
{#            </section>#}
            <h3>Effects</h3>
            <section>
                <div id="map"></div>
            </section>
            <h3>Pager</h3>
            <section>
                <p>The next and previous buttons help you to navigate through your content.</p>
            </section>
        </div>
    </form>
    {#    <script>#}
    {#        var map;#}
    {#        function initMap() {#}
    {#            map = new google.maps.Map(document.getElementById('map'), {#}
    {#                center: {lat: -34.397, lng: 150.644},#}
    {#                zoom: 8,#}
    {#                streetViewControl: false#}
    {#            });#}
    {#        }#}
    {#    </script>#}
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?callback=initMap&language=fa&v=3&libraries=drawing"></script>
{% endblock %}