{% load static %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    {% block title %}
    {% endblock %}
    {% block css_and_js %}
    {% endblock %}

</head>
<body>
<ul>
    <li><a href="{% url 'main:main_page' %}">Home</a></li>
    <li><a href="{% url 'event:reserve' %}">Reserve</a></li>
    <li><a>Events</a></li>
    <li><a>Gallery</a></li>
    <li><a href="{% url 'main:about_us' %}">About us</a></li>
    <li><a href="{% url 'userman:logout' %}">Logout</a></li>
</ul>
{% block body %}
{% endblock %}
</body>
</html>